<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>

<body>

  <header>
    <%- include ./partials/_header %>
  </header>

  <table>
    <thead>
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
      </tr>
    </thead>
    <tbody>
      <% for (key in urls) {%>
      <% const url = `http://${host}/u/${key}` %>
      <tr>
        <td><a href="<%= url %>"><%= url %></a></td>
        <td><a href="<%= urls[key] %>"><%= urls[key] %></a></td>
        <td>
          <form method="POST" action="/urls/<%= key %>/delete">
            <input type="submit" value="Submit">
          </form>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>

</body>
</html>
