<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>

<body>

  <header>
    <%- include ./partials/_header %>
  </header>

  <% for (key in urls) {%>
    <form>
      <h2>Shortcut <a href="//<%= urls[key].longUrl %>"><%= key %></a></h2>
      <ul>
        <li>
          <label for="longUrl">Full URL</label>
          <input type="text" name="longUrl" value="<%= urls[key].longUrl %>" size="40">
          <input type="submit" formmethod="POST" formaction="/urls/<%= key %>" value="Update">
        </li>
        <li>
          <input type="submit" formmethod="POST" formaction="/urls/<%= key %>/delete" value="Delete">
        </li>
      </ul>
    </form>
    <hr>
  <%}%>

</body>
</html>
