<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ./partials/_header.ejs %>
</head>

<body>
  <table>
    <tr>
      <th>Key</th>
      <th>Url</th>
    </tr>
    <% for (key in urls) {%>
    <tr>
      <td><a href="<%= host %>/urls/<%= key %>"><%= host %>/urls/<%= key %></a></td>
      <td><a href="<%= urls[key] %>"><%= urls[key] %></a></td>
    </tr>
    <%}%>
  </table>

  </ul>
</body>
</html>
