<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>

  <header>
    <%- include ./partials/_header %>
  </header>

  <% for (key in urls) {%>
    <form>

        <h2>
          Shortcut <a href="/u/<%= key %>">tinyApp.ca/u/<%= key %></a>
        </h2>

        <div class="form-group">
          <fieldset disabled="">
            <label for="dateCreated" class="control-label">Date Created</label>
            <input name= "dateCreated" class="form-control" type="text" value="<%= (new Date(urls[key].dateCreated)).toLocaleDateString() %>">
            <label for="visits" class="control-label">Visits</label>
            <input name= "visits" class="form-control" type="text" value="<%= urls[key].visitors.length.toLocaleString() %>">
            <label for="visitors" class="control-label">Visitors</label>
            <input name= "visitors" class="form-control" type="text" value="<%= (new Set(urls[key].visitors)).size.toLocaleString() %>">
          </fieldset>
        </div>

        <hr>

        <div class="form-group">
          <label for="longUrl">
            Full URL
          </label>
          <input type="text" name="longUrl" value="<%= urls[key].longUrl %>" class="form-control" size="40">
          <button class="btn btn-info" type="submit" formmethod="POST" formaction="/urls/<%= key %>">
            Update
          </button>
        </div>

    </form>

    <form action="/urls/<%= key %>/delete" method="POST">
      <div class="form-group">
        <button class="btn btn-danger" type="submit">
          Delete
        </button>
      </div>
    </form>

    <hr>
  <%}%>

</body>
</html>
