<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
  <table>
    <tr>
      <th>Key</th>
      <th>Url</th>
    </tr>
    <tr>
      <td><a href="<%= host %>/<%= shortURL %>"><%= host %>/<%= shortURL %></a></td>
      <td><a href="<%= longURL %>"><%= longURL %></a></td>
    </tr>
  </table>

  </ul>
</body>
</html>
