<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>

  <header>
    <%- include ./partials/_header %>
  </header>

  <% if (locals.user) {%>
    <a class="btn btn-info" href="/urls/new">New Link</a>
  <% } else { %>
    <div class="card text-white bg-warning mb-3">
      <div class="card-header">Please Log In to Continue</div>
      <div class="card-body">
        <p class="card-text">You must be logged in to create and manage shortened URLs. <a href="/login">Click Here To Log In</a></p>
      </div>
    </div>
  <%}%>

  <table class="table table-hover">

    <thead>
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
        <th>Date Created</th>
        <th>Visits</th>
        <th>Visitors</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>

      <% for (key in urls) {%>
        <tr>

          <td>
            <a href="u/<%= key %>">tinyApp.ca/u/<%= key %></a>
          </td>

          <td>
            <a href="<%= (urls[key].longUrl.startsWith('http') ? '' : '//' ) + urls[key].longUrl %>">
              <%= urls[key].longUrl %>
            </a>
          </td>

          <td>
            <%= (new Date(urls[key].dateCreated)).toLocaleDateString() %>
          </td>

          <td>
            <%= urls[key].visitors.length.toLocaleString() %>
          </td>

          <td>
              <%= (new Set(urls[key].visitors)).size.toLocaleString() %>
          </td>

          <td>
            <a class="btn btn-info" href="/urls/<%= key %>">
              Edit
            </a>
          </td>

          <td>
            <form action="/urls/<%= key %>/delete" method="POST">
                <button class="btn btn-danger" type="submit">
                  Delete
                </button>
            </form>
          </td>

        </tr>
      <%}%>

    </tbody>

  </table>

</body>
</html>
